[submodule "tools/pigz4m"]
	path = tools/pigz4m
	url = git://github.com/specht/pigz.git
[submodule "data"]
	path = data
	url = git://github.com/kmpf/hts-seq-data.git
[submodule "tools/miscbiostuff"]
        path = tools/miscbiostuff
        url = git://github.com/tiennes/misc-bio-stuff.git
[submodule "tools/ht-seq-data"]
	path = tools/ht-seq-data
	url = git://github.com/kmpf/hts-seq-data.git
