[submodule "tools/pigz4m"]
	path = tools/pigz4m
	url = git://github.com/specht/pigz.git
[submodule "tools/misc-bio-stuff"]
	path = tools/misc-bio-stuff
	url = https://github.com/tiennes/misc-bio-stuff.git